body{
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #050f37, #11285d, #1a4385, #1c60b0, #0980dd);  
}
.App{
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}
#rick{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.type{
  display: flex;
  background-image: linear-gradient(to right top, #0d4d79, #22608f, #3373a5, #4387bc, #539bd3);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  margin-left: 10%;
  margin-right: 10%;
}


.characters{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  
}
.cha2{
  display: flex;
  width: 292px;
  height: 550px;
  flex-direction: column;
  background-image: linear-gradient(to right top, #0d4d79, #22608f, #3373a5, #4387bc, #539bd3);
  border-radius: 20px;
}

.cha2>p{
  width: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px; 
  display: flex;
  align-items: center;
  color: #FBFBFB;

}

.cha2>img{
  width: 292px;
  height: 268px;
  border-radius: 20px;
}

.status{
  position: relative;
  bottom: 15rem;
  display: flex;
  background-image: linear-gradient(to right top, #0d4d79, #22608f, #3373a5, #4387bc, #539bd3);
  border-radius: 0px 12px 12px 0px;
  width: 180px;
  height: 42px;
  justify-content: left;
  align-items: center;
  opacity: 85%;
}

.status>p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.circle{
  background: #938686;
  width: 19px;
  height: 19px;
  border-radius: 100%;
  margin-left: .5rem;
  margin-right: .5rem;
}

.circle.alive{
  background-color: #4AB648;
}

.circle.dead{
  background-color: #B94343;
  
}

.input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to right top, #0d4d79, #22608f, #3373a5, #4387bc, #539bd3);
  margin: 2rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
}

.inputd{
  display: flex;
  justify-content: center;
  align-items: center;
}

.b1{

}




